<ion-header>
    <ion-toolbar color="secondary">
        <ion-title class="ion-text-center">
          Entregas
        </ion-title>
      </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row align-items-center>
        <ion-col>
            <p>entrega distribuidora</p>
        </ion-col>
        
        <ion-button color="danger">
            <ion-icon slot="icon-only" name="close" size="small"></ion-icon>
        </ion-button>
        <ion-button color="secondary">
            <ion-icon slot="icon-only" name="checkmark" size="small"></ion-icon>
        </ion-button>  
        
    </ion-row>



<ion-content></ion-content>





