<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Coletas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row align-items-center>
      <ion-col>
          <p>coleta distribuidora</p>
      </ion-col>
      <ion-button color="danger">
          <ion-icon slot="icon-only" name="close" size="small"></ion-icon>
      </ion-button>
      <ion-button color="secondary">
          <ion-icon slot="icon-only" name="checkmark" size="small"></ion-icon>
      </ion-button>
            
  </ion-row>
  
</ion-content>
